<!DOCTYPE HTML>
<HTML>
    <HEAD>
        <title>404 Page</title>
        <link rel='icon' href='Image/52248.png'>
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
    </HEAD>
    <BODY>
        <div class='main-content'>
        {{>header}}
       
        <p>{{errormsg}}</p> 
        </div>      
       
        {{>footer}}
    </BODY>
</HTML>